<div class="d-flex">
    <div class="form-control">{{ roomall.roominfo.bldg.name}} - {{ roomall.roominfo.number}}</div>
    <select class="form-control"  [(ngModel)]="selectRate" (change)='updateRoomCharge(selectRate)'>
        <option value=0.00>Select a Rate</option>
        <option *ngFor="let c of roomall.ratelist|keyvalue" [ngValue]="c.value">{{c.key}} 

        </option>
    </select>
    <div class="form-control dcell">{{ roomall.rateCharge}}</div>
    <div class="form-control" style="text-align:center">{{ numDays }}</div>
    <div class="form-control dcell">{{ numDays * roomall.rateCharge| currency }}</div>
</div>