
  @font-face {
    font-family: OpenSans;
    src: url("/assets/fonts/OpenSans-Regular.ttf"); }

  @font-face {
    font-family: Copper;
    src: url("/assets/fonts/COPRGTB.TTF"); }
    
  @font-face {
    font-family: Quicksand;
    src: url("/assets/fonts/Quicksand-Regular.otf"); }

  @font-face {
    font-family: Nova;
    src: url("/assets/fonts/Novecentosanswide-Normal.ttf"); }
        
  @font-face {
    font-family: NovaDemi;
    src: url("/assets/fonts/Novecentosanswide-DemiBold.ttf"); }

    @font-face {
    font-family: Upsilon;
    src: url("/assets/fonts/upsilon.ttf"); }

    @font-face {
    font-family: Londrina;
    src: url("/assets/fonts/LondrinaShadow-Regular.ttf"); }

    @font-face {
    font-family: Niconne;
    src: url("/assets/fonts/Niconne-Regular.ttf"); }
              
  body {
    font-family: OpenSans; 
    font-size:10pt;
    background-image: linear-gradient(to right, #bdd8d3, rgb(218, 229, 250));
    font-family: OpenSans; 
    font-size:10pt;
  }

  h6 {
      font-size:11pt;
      font-family:nova
  }

  .align-center {
      text-align:center;
  }

  .nova {
    font-family: Nova;
  }
  .novabold {
    font-family: NovaDemi;
  }

  .copper {
    font-family: Copper;
  }

  .card {
    margin:4px 4px;
    border:1px solid silver;

  }
  
  
  .card-header {
    border:1px solid silver;
    text-align: center;

  }

  .card-body {
    text-align: left;
  }
  .card-footer {
    border:1px solid silver;
    font: size 9pt;
    font-family:Nova;
    padding:.5em;

  }
  .flex-con {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:align-center;
  }

  .active {
    font-weight:bold;
    color:royalblue;
    cursor:pointer;
}

.banner-text {
  font-family:Niconne;
  font-size:30pt;
  color:grey;
  
}
