
<ng-container>


<mat-card style="background-color:limegreen;text-align:center">
    <mat-card-title>Rooms Available</mat-card-title>
    <mat-card-content style="height:500px; overflow-y:scroll; background-color:lightgreen;padding:1em">
        <ng-container *ngFor="let x of availRooms$ | async">
            <div style="background-color:white;text-align:left;font-weight:bold">{{ x.bldg.name}}</div>
            <ng-container *ngFor="let y of x.rates">
                <div class='row ratecell' *ngIf="y.roominfo.length">
                    <div class="col-4">{{ y.rate.alias }}</div>
                    <div class="col" style="text-align:left">
                        <ng-container *ngFor="let z of y.roominfo">
                            <button  (click)="assignRoom(z)">{{ z.number }}</button>
                        </ng-container>
                    </div>
                </div>

            </ng-container>
        </ng-container>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>
</ng-container>
