<button class='widbutton {{currRoom.room.status}}' [matMenuTriggerFor]="roomMenu">
    {{ currRoom.bldg.name }}  {{ currRoom.roominfo.number }}
    {{ currRoom.roominfo.rateAlias }}<br>
    {{ currRoom.room.status}} / {{ currRoom.roominfo.status}}
</button>


<mat-menu #roomMenu="matMenu">
    <div class="menu-item" mat-menu-item  (click)="check(true)">Check-In </div>
    <div class="menu-item" mat-menu-item  (click)="check(false)">Check-Out </div>
    <div class="menu-item" mat-menu-item (click)="unassign()">Delete </div>
</mat-menu>