<mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-title>{{ currBldg.name }}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <form novalidate [formGroup]="roomEditForm">


            <div class="d-flex">
                <label class="uppercell form-control">Number</label>
                <input class="lowercell form-control" type="text" formControlName='number' >
            </div>
        
            <div class="d-flex">
                <label class="uppercell form-control">Floor</label>
                <input class="lowercell form-control " type="text" formControlName='floor' >
            </div>
        
        
            <div class="d-flex">
                <label class="uppercell form-control">Beds</label>
                <input class="lowercell form-control "  type="text" formControlName='beds'>
            </div>
            
            <div class="d-flex">
                <label class="uppercell form-control">Style</label>
        
                <input class="lowercell form-control "  type="text" formControlName='style'>
            </div>
        
        
            <div class="d-flex">
                <label class="uppercell form-control">Rate Alias</label>
        
                <select class="lowercell form-control "  formControlName='rateAlias'>
                    <option value=""></option>
                    <option *ngFor="let rl of rateList" [ngValue]="rl.alias">{{rl.alias}} </option>
                </select>
            </div>
        
            <div class="d-flex">
                <label class="uppercell form-control">Name</label>
        
                <input class="lowercell form-control "  type="text" formControlName='name'>
            </div>
            
            <div class="d-flex">
                <label class="uppercell form-control">Size</label>
        
                <input class="lowercell form-control "  type="text" formControlName='size'>
            </div>
        
            <div class="d-flex">
                <label class="uppercell form-control">Status</label>
        
                <select class="lowercell form-control " formControlName='status'>
                    <option value=""></option>
                    <option *ngFor="let rl of statusList" [ngValue]="rl.value">{{rl.display}} </option>
                </select>
            </div>
        
        
            <div class="d-flex">
                <label class="uppercell form-control">Description</label>
                <input class="lowercell form-control "  type="text" formControlName='descr'>
            </div>
            <div class="d-flex">
                <label class="uppercell form-control">IP Address</label>
                <input class="lowercell form-control "  type="text" formControlName='ipaddr'>
            </div>
            <div class="d-flex">
                <label class="uppercell form-control">Phone</label>
                <input class="lowercell form-control "  type="text" formControlName='phone'>
            </div>
        
        </form>
        

    </mat-card-content>
    <mat-card-actions>

        <button mat-button *ngIf="roomEditForm.valid && roomEditForm.value.id > 0" (click)="updateRoom(roomEditForm.value)" >Update</button>
        <button mat-button *ngIf="roomEditForm.valid && roomEditForm.value.id == 0" (click)="updateRoom(roomEditForm.value)">Create</button>
        <button mat-button *ngIf="deleteFlag$ | async as delete" (click)="deleteRoom(roomEditForm.value)">Delete</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>
