
<!-- Page Tab Content -->
<div class="content-box">
    <div style="height:100%" class="d-flex flex-wrap">

        <!--Leftr Column -->
        <div style="width:75%;height:100%">
            <mat-tab-group style="background-color:white">
                <mat-tab label="Housekeeping">
                    <app-house></app-house>
                </mat-tab>
                <mat-tab label="Maintenance">
                    <app-maint></app-maint>
                </mat-tab>
                <mat-tab label="Staff">
                    <app-staff-list></app-staff-list>
                </mat-tab>
            </mat-tab-group>

        </div>
        <div style="width:25%;height:100%">
            <!-- Right Column-->
            <app-curr-grid [cellMenu]='cellMenu'></app-curr-grid>
        </div>
    </div>
</div>