<!-- Navigation -->
<nav style="height: 48px" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" style="color:white">
        <a class="navbar-brand" href="/dashboard"><img src="/assets/img/rsvn.png" style="border:none;width:80px"></a>
        <div>
            <h3>Administration</h3>
        </div>
        <app-clock></app-clock>
        <div class="d-flex">
            <div class="navbar-text" style="margin-right:3em;font-family:nova;font-weight:bold;font-size:12pt">
                <!-- Welcome {{ user.username }}  -->
            </div>
            <a class=" btn btn-outline-success" href="/login">Log Off</a>
        </div>
    </div>
</nav>
<!-- Page Tab Content -->
<div class="content-box">
    <div style="height:100%" class="d-flex flex-wrap">

        <!--Leftr Column -->
        <div style="width:75%;height:100%">
            <mat-tab-group style="background-color:white">
                <mat-tab label="Housekeeping">
                    <app-house></app-house>
                </mat-tab>
                <mat-tab label="Maintenance">
                    <app-maint></app-maint>
                </mat-tab>
                <mat-tab label="Staff">
                    <app-staff></app-staff>
                </mat-tab>
            </mat-tab-group>

        </div>
        <div style="width:25%;height:100%">
            <!-- Right Column-->
            <app-curr-grid></app-curr-grid>
        </div>
    </div>
</div>