.datecol {
    font-size:small;
}

.namecol {
    font-size:medium;
    margin-left:10px;
    cursor:pointer;
 
}

.listcell {
    border-bottom:1px solid
}

.resblk {
    background-color:white;
    padding:0;
}