<div class="card" style="height:98%;overflow-y:scroll">
    <div class="card-header" style="padding:2px" >
       <h5> Search</h5>

        <form novalidate [formGroup]="searchForm" class="form-inline">
            <div class="d-flex">
                <input type="search" formControlName='query' placeholder="Search" (focus)="searchForm.reset()"
                    (change)="runSearch(searchForm.value.query)" class="form-control">
                <button style="width:60px" class="form-control" (click)="runSearch(searchForm.value.query)">
                    <span class="material-icons">
                        search
                        </span> </button>
            </div>
        </form>

        <div style="text-align:left">
            <button  class="btn btn-outline-secondary" (click)="activeRes('active')">Active</button>
            <button  class="btn btn-outline-secondary" (click)="activeRes('checkin')">INS</button>
            <button  class="btn btn-outline-secondary" (click)="activeRes('checkout')">OUTS</button>
            <button  class="btn btn-outline-secondary" (click)="activeRes('future')">Future</button>
            <button  class="btn btn-outline-secondary" (click)="activeRes('guests')">Guests</button>
            <button  class="btn btn-outline-secondary" (click)="activeRes('rsvns')">Rsvn</button>
            <button  class="btn btn-outline-secondary"  
            [ngStyle]="{'background-color':noRoomResult}"   (click)="activeRes('noroom')">NoRoom</button>
        </div>
    </div>
    <div class="card-body" style="padding:0" >
        <app-search-list 
            (currGuestChange)='selectGuest($event)' 
            (currRsvnChange)='selectRsvn($event)'[resultList]='resultList' ></app-search-list>
    </div>
    <div class="card-footer d-flex">

    </div>
</div>
