<mat-card style="background-color:limegreen;text-align:center;height:97%;overflow-y:scroll">
    <mat-card-title><h3>Search</h3></mat-card-title>
    <mat-card-header>

        <form novalidate [formGroup]="searchForm" class="form-inline">
            <div class="d-flex">
                <input type="search" formControlName='query' placeholder="Search" (focus)="searchForm.reset()"
                    class="form-control">
                <input type="date" formControlName='dquery' class="form-control" (focus)="searchForm.reset()">
            </div>
        </form>
    </mat-card-header>
<hr>
<div class="resblk"> 

    <div class="section">Search Results</div>
    <app-search-list [multiList]='multiList' (currRsvnChange)='selectRsvn($event)'
        (currGuestChange)='selectGuest($event)'></app-search-list>

    <app-info (currRsvnChange)='selectRsvn($event)'></app-info>

    <ng-container *ngIf="lateCheckout$ | async as checkouts">
        <div class="section" *ngIf="checkouts.length">Overdue Check Outs</div>
        <div class="row listcell" *ngFor="let c of checkouts">
            <div class="col-4 namecol active" (click)='rsvnSelect(c.room.rsvn)'>{{c.bldg.name}} - {{c.roominfo.number}}
            </div>

            <div class="col datecol">{{c.room.dateIn}} >> {{c.room.dateOut}}</div>
            <div class="col-2"> <button mat-button (click)="clearCheckin(c.room.id)">Clear</button></div>
        </div>
    </ng-container>

    <ng-container *ngIf="roomCount$ | async as rcounts">
        <div class="section" *ngIf="rcounts.length">Rooms Not Assigned</div>
        <div class="row" *ngFor="let r of rcounts">
            <div class='active namecol' (click)='rsvnSelect(r.id)'>{{r.confirm}} - {{r.dateIn}} - {{r.dateOut}}</div>
        </div>
    </ng-container>

</div>


</mat-card>