<mat-card style="text-align:left;height:97%;overflow-y:scroll">
    <mat-card-title>
        <h3>Search</h3>
    </mat-card-title>
    <mat-card-header>

        <form novalidate [formGroup]="searchForm" class="form-inline">
            <div class="d-flex">
                <input type="search" formControlName='query' placeholder="Search" (focus)="searchForm.reset()"
                    class="form-control">
                <input type="date" formControlName='dquery' class="form-control" (focus)="searchForm.reset()">
            </div>
        </form>
    </mat-card-header>
    <button class="form-control" (click)='qv=!qv'>Quick View</button>

    <hr>
    <div class="resblk">

        <ng-container *ngIf="qv">
            <ng-container *ngIf="guestList$ | async as guests">
                <div class="section" *ngIf="guests.length">All Non Rsvn Guests</div>
                <div class="d-flex flex-wrap">
                    <div *ngFor="let c of guests" 
                    [ngClass]="{'namecol':true, 'active':true, 'marker':c.marker }" 
                    (click)='guestSelect(c.id)'>{{c.firstname}} {{c.lastname}}</div>
                </div>
            </ng-container>
        </ng-container>
        
        <div class="section">Search Results</div>


        <app-search-list [multiList]='multiList' (currRsvnChange)='selectRsvn($event)'
            (currGuestChange)='selectGuest($event)'></app-search-list>

        <app-info [currRsvn]="currRsvn" (currRsvnChange)='selectRsvn($event)'></app-info>

        <ng-container *ngIf="lateCheckout$ | async as checkouts">
            <div class="section" *ngIf="checkouts.length">Overdue Check Outs <button mat-button (click)="clearCheckinAll()">Clear All</button></div>
            <div class="row" *ngFor="let c of checkouts">
                <div class="col-1"></div>
                <div class="col-3 namecol active" (click)='rsvnSelect(c.room.rsvn)'>{{c.bldg.name}} -
                    {{c.roominfo.number}}
                </div>

                <div class="col-4 datecol">{{c.room.dateIn}} >> {{c.room.dateOut}}</div>
                <div class="col-4"> <button mat-button (click)="clearCheckin(c.room.id)">Clear</button></div>
            </div>
        </ng-container>
        

        <ng-container *ngIf="roomCount$ | async as rcounts">
            <div class="section" *ngIf="rcounts.length">Rooms Not Assigned</div>
            <div  *ngFor="let r of rcounts">
                <div class='active' (click)='rsvnSelect(r.id)'>{{r.confirm}} - {{r.dateIn}} - {{r.dateOut}}
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="expiredOcc$ | async as occ">
            <div class="section" *ngIf="occ.length">Expired Occupancy <button mat-button (click)="clearOcc(0,'inspect')">Inspect All</button></div>
            <div  class="row" *ngFor="let o of occ">
                <div class="col-1"></div>
                <div class='col active' >{{o.bldgname}} - {{o.number}}
                    <button mat-button (click)="clearOcc(o.id,'inspect')" class="inspect">Inspect</button>        
                    <button mat-button (click)="clearOcc(o.id,'dirty')" class="dirty">Dirty</button>        
                    <button mat-button (click)="clearOcc(o.id,'ready')" class="ready">Ready</button>        
                
                </div>
            </div>
        </ng-container>

    </div>


</mat-card>