.datecol {
    font-size:small;
}

.namecol {
    font-size:small;
    cursor:pointer;
    width:25%;
 
}

.listcell {
    border-bottom:1px solid;
    text-align:left;

}

.resblk {
    background-color:white;
    padding:0;
}

.marker {
    color:teal;
}