<mat-card class="mat-elevation-z8">
    <mat-card-title></mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="col-4">
                <section>Service Reservation Editor</section>
                <div>
                    <form novalidate [formGroup]="svcrsvnEditForm">
                        <div class="d-flex">

                            <div class="form-control">
                                <div class="d-flex">
                                    <label class="uppercell form-control">Status<abbr class="req"
                                            title="Required">*</abbr></label>
                                    <select class="form-control lowercell" formControlName='status'>
                                        <option value=""></option>
                                        <option *ngFor="let sl of roomStatus" [ngValue]="sl.value">{{sl.display}}
                                        </option>
                                    </select>
                                </div>

                                <div class="d-flex">
                                    <label class="uppercell form-control">Date In<abbr class="req"
                                            title="Required">*</abbr></label>
                                    <input class="lowercell form-control" type="date" formControlName='dateIn'>
                                </div>
                                <div class="d-flex">
                                    <label class="uppercell form-control">Date Out<abbr class="req"
                                            title="Required">*</abbr></label>
                                    <input class="lowercell form-control" type="date" formControlName='dateOut'>
                                </div>
                                <div class="d-flex">
                                    <label class="uppercell form-control">Notes<abbr class="req"
                                            title="Required">*</abbr></label>
                                    <input class="lowercell form-control" type="text" formControlName='notes'>
                                </div>
                                <div class="d-flex">
                                    <label class="uppercell form-control">Clerk</label>
                                    <input class="lowercell form-control" type="text" formControlName='clerk'>
                                </div>
                                <div class="d-flex">
                                    <label class="uppercell form-control">Created</label>
                                    <input class="lowercell form-control" type="text" formControlName='created'>
                                </div>
                                <div class="d-flex">
                                    <label class="uppercell form-control">Modified</label>
                                    <input class="lowercell form-control" type="text" formControlName='modified'>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
                <div *ngIf="dateSet">
                    <app-room-selector [warnString]="warnString$ | async" [(roomString)]="currRoominfos"
                        (refreshString)="changeString($event)">
                    </app-room-selector>
                </div>
            </div>

            <div *ngIf="dateSet" class="col">
                <section>Room Conflict Manager</section>
                <app-room-collision (listChange)="updateList()" [collList]="collRsvns$ | async" [currRoominfos]="currRoominfos">
                </app-room-collision>
            </div>
        </div>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="svcrsvnEditForm.valid" (click)='updateSvcRsvn()'>
            <mat-icon>save</mat-icon>
        </button>
        <button mat-button (click)='deleteSvcRsvn()'>
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-button (click)='close()'>
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>