
<div class="card" style="width:700px">
    <div class="card-header">
        <h5 style="text-align:center">Season Count</h5>
    </div>
    <div class="card-body">
        <div *ngFor="let item of tallySheet" class="row tally" >
            <div class="col">{{ item.name }}</div>
            <div class="col" style="text-align:right">{{ item.count }}</div>
            <div class="col" style="text-align:right">{{ item.accum | number : '1.0-0' }}</div>
        </div>
        <div class='row tally'>
            <div class="col">Total Yearly Maximum</div>
            <div class="col"></div>
            <div class="col"  style="text-align:right;font-weight:bold">{{ tallyTotal | number : '1.0-0' }}</div>
        </div>

        <div class='row tally'>
            <div class="col">Total Yearly Actual</div>
            <div class="col" style="text-align:right"> 
             </div>
            <div class="col"  style="text-align:right;font-weight:bold">{{ chargeCalc.total.amount__sum | number : '1.0-0'}}</div>
        </div>

    </div>
</div>