<div class="d-flex">
    <div class="roomcell" [style.width.%]='gridwidth'>{{ gridline.roominfo.number }}</div>
<!-- 
    <div>{{ gridline.rooms | json }}</div>
--> 
    <div class="roomcell" [style.width.%]='gridwidth' *ngFor="let x of lineArray">
        
        <button  [ngStyle]="{'background-color':x.color}" class="rmbutt" *ngIf='x'>X</button>

    </div>
</div>
<!--
<div class="d-flex">
    <div [style.width.%]='gridwidth '[ngStyle]="{'border-color':room.color, 'border-width':'3px'}"  class="daycell">{{ room.number}} </div>
    <div *ngFor="let d of dayList"  [style.width.%]='gridwidth' class="daycell"> 
        <div *ngFor="let r of room.info">
            <button  [ngStyle]="{
                    'background-color':r.rsvnc,
                    'padding':'0',
                    'width':'100%'}" 
                   [style.border-color]="r.current ? 'red' :'inherit' "
                    (click)="selectCell(r)" 
                    *ngIf="r.dateIn <= d && r.dateOut > d" title={{r|json}}> X</button>
        </div>
    </div>
</div>

-->
