.roomcell {
    border:1px solid silver;
    text-align:center;

}
.rmbutt {
    width:100%;
    border:none;
}

.selectCell {
    border-width:2px;
    border-style: solid;
    border-color:red ;


}

.indy {
    border:3px solid white;

}