

<div *ngFor="let rec of resultList">

    <button *ngIf='rec.rsvn && !rec.rsvn.length'  
        (click)='selectGuest(rec)' 
        [ngStyle]="{'width':'100%','text-align':'left'}" 
        mat-button>{{ rec.fullname }}</button>
    
    
    <div *ngIf='rec.rsvn && rec.rsvn.length' >
        
        <button *ngIf='rec.rsvn.length' mat-button 
            [ngClass] = "{'rsvn buttn':true}"
            (click)='selectGuest(rec)'>
            {{rec.fullname }}
        </button>
        <div mat-menu-item (click)='selectRsvn(r)' *ngFor="let r of rec.rsvn">
            <div class="form-control datecell">{{r.dateIn}} -- {{r.dateOut}}</div>
        </div>

    </div>

</div>


