<div class="card">
    <div class="card-header">



        <div class="row justify-content-end">

            <div class="col-8">
                <h4> Rate Table</h4>
            </div>
            <div class="col-2">
                <button [disabled]="!(rateEditForm.valid)" (click)="updateRate(rateEditForm.value)">
                    <mat-icon>save</mat-icon>
                </button>
                <button [disabled]="!(currRate && currRate.id)" (click)="clearRate()">
                    <mat-icon>note_add</mat-icon>
                </button>
                <button [disabled]="!(rateEditForm.value.id)" (click)='deleteRate(rateEditForm.value)'>
                    <mat-icon>delete</mat-icon>
                </button>


            </div>
        </div>



        <div class="heading d-flex">
            <div class="col">Alias </div>
            <div class="col">Color </div>

            <div class="col">Category </div>
            <div class="col">Name</div>
            <div class="col">Type</div>
            <div class="col">Class</div>
            <div class="col">Description</div>
            <div class="col" *ngFor="let x of seasonList">
                {{ x.name }}
            </div>

        </div>

        <div>
            <form novalidate [formGroup]="rateEditForm">
                <div class="d-flex">
                    <input type="text" formControlName='alias' class="form-control">
                    <select class="form-control" [ngStyle]="{'background-color':rateEditForm.value.color}"
                        formControlName='color'>
                        <option value=""></option>
                        <option [ngStyle]="{'background-color':c.value}" *ngFor="let c of colorList"
                            [ngValue]="c.value">{{c.display}} </option>
                    </select>
                    <input type="text" formControlName='rateCategory' class="form-control">
                    <input type="text" formControlName='rateName' class="form-control">
                    <input type="text" formControlName='rateType' class="form-control">
                    <input type="text" formControlName='rateClass' class="form-control">
                    <input type="text" formControlName='descr' class="form-control">
                    <input *ngFor="let x of seasonList" type="number" formControlName='{{x.name}}' class="form-control">
       
                </div>

            </form>


        </div>

    </div>

    <div class="card-body">
        <div *ngFor="let r of rateList" class="d-flex">
            <div class="form-control active" (click)='selectRate(r)'>{{ r.alias }}</div>
            <div class="form-control" [ngStyle]="{ 'background-color': r.color}">{{ r.color}}</div>
            <div class="form-control">{{ r.rateCategory }}</div>
            <div class="form-control">{{ r.rateName }}</div>
            <div class="form-control">{{ r.rateType }}</div>
            <div class="form-control">{{ r.rateClass }}</div>
            <div class="form-control">{{ r.descr }}</div>
            <div class="form-control" *ngFor="let x of r.seasonList">{{ x }}</div>
        </div>
    </div>

    <div class="card-footer">
        <app-fileinput (results)="setResults($event)"></app-fileinput>
    </div>

</div>