<div class="card ">
   <div class="card-header">
      <nav class="navbar">
         <h5>Action</h5>
         <button [ngClass]="{'toggle':showall}" (click)="toggleView()">{{ showall ? 'View Today' : 'View All' }}
         </button>
         {{showall}}
         <button mat-button (click)='newAction()'>
            <mat-icon>note_add</mat-icon>
         </button>
      </nav>
   </div>
   <div class="card-body">
      <div class="row heading">
         <div class="col">Date</div>
         <div class="col">Department</div>
         <div class="col">Name</div>

         <div class="col">Item</div>
         <div class="col">Status</div>
       </div>

      <div *ngFor="let act of actionList">
         <div class="row drows">
            <div class="col">{{act.date }}</div>
            <div class="col">{{ act.department }}</div>
            <div class="col active" (click)="openDialog(act)">{{ act.fullname }}</div>

            <div class="col">{{act.item }}</div>
            <div class="col"><div *ngIf="act.continuous">Continuous</div></div>
         </div>
       </div>
   </div>
   <div class="card-footer">

   </div>
</div>