.pclass {
    width:100%;
}

.roomTable{
    & tr {
        border:1px solid green;
    }
    & th,td {
        font-size:x-small;
        padding:5px;
    }

}
.heading {
    font-weight:bold;
    border-bottom: 1px solid teal;;
}

.form-control {
    border:none;
}

.toggle {
    background-color:green;
    color:yellow;

}