<button mat-button (click)="reset()">Clear</button>
<div *ngIf="data">

    <div *ngIf='data.info'>
        <h1>{{data.info}}</h1>
    </div>
    <div *ngIf='data.active'>

        <div class="card">
            <div class="card-header">
                <h3>Reservation Information</h3>
            </div>
            <div>
                <div class="topcell">Name</div>
                <div class="botcell">{{ data.rsvn.primary.firstname }} {{ data.rsvn.primary.lastname }}</div>
            </div>
            <div>
                <div class="topcell">Check In Date</div>
                <div class="botcell">{{ data.rsvn.dateIn }}</div>
            </div>
            <div>
                <div class="topcell">Check Out Date</div>
                <div class="botcell">{{ data.rsvn.dateOut }}</div>
            </div>
            <div>
                <div class="topcell">Reservation Status</div>
                <div class="botcell">{{ data.rsvn.status }}</div>
            </div>
            <div>
                <div class="topcell">Confirmation Number</div>
                <div class="botcell">{{ data.rsvn.confirm }}</div>
            </div>
            <div>
                <div class="topcell">NUmber of Rooms</div>
                <div class="botcell">{{ data.rsvn.numrooms }}</div>
            </div>
        </div>
    </div>


    <div *ngIf='data.action'>

        <div class="card">
            <div class="card-header">
                <h3>Worker and Task Information</h3>
            </div>
            <div class="card-body">
                <div>
                    <div class="topcell">Department</div>
                    <div class="botcell">{{ data.action.department }}</div>
                </div>
                <div>
                    <div class="topcell">Title</div>
                    <div class="botcell">{{ data.staff.title }}</div>
                </div>
                <div>
                    <div class="topcell">Name</div>
                    <div class="botcell">{{ data.staff.first_name}} {{ data.staff.middle_name}} {{
                        data.staff.last_name}}</div>
                </div>
                <div>
                    <div class="topcell">Contact Number</div>
                    <div class="botcell">{{ data.staff.phone1 }}</div>
                </div>
                <div>
                    <div class="topcell">Task</div>
                    <div class="botcell">{{ data.action.item }}</div>
                </div>
                <div>
                    <div class="topcell">Description</div>
                    <div class="botcell">{{ data.action.descr }}</div>
                </div>
                <div>
                    <div class="topcell">Days Schedule</div>
                    <div class="botcell">{{ data.action.days }}</div>
                </div>
                <div>
                    <div class="topcell">Assigned by</div>
                    <div class="botcell">{{ data.action.assignedBy }}</div>
                </div>



            </div>
            <div class="card-footer"></div>

        </div>
    </div>
</div>
<!--


This is an action view
{ "action": 
{ "id": 15, "department": "Housekeeping", "item": "Full Clean", 
"descr": "Keep all sheets in the inventory room before putting them in the laundry", 
"result": "", "date": "2022-01-02", "once": false, 
"continuous": true, "days": "", 
"assignedBy": "quasar", "created": "2021-12-19T09:46:46.226930Z", "staff": 17, 
"roominfos": [ 2, 3, 5, 6, 33, 36, 39, 41, 43, 44, 45, 47, 50, 51, 54, 55, 56, 58, 62 ] }, 
"staff": { "id": 17, 
"username": "hazel", "temppass": "", "first_name": "Hazel", "middle_name": "", 
"last_name": "McGurk", "phone1": "503 221 3214", "phone2": "",

-->