<div class="form-control">
    <form novalidate [formGroup]="staffEditForm">
        <div class="d-flex">

            <div class="form-control">
                <div class="d-flex">
                    <label class="uppercell form-control">First Name<abbr class="req" title="Required">*</abbr></label>
                    <input class="lowercell form-control" type="text" formControlName='first_name'>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">Middle Name</label>
                    <input class="lowercell form-control" type="text" formControlName='middle_name'>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">Last Name<abbr class="req" title="Required">*</abbr></label>
                    <input class="lowercell form-control" type="text" formControlName='last_name'>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">Username<abbr class="req" title="Required">*</abbr></label>
                    <input class="lowercell form-control" type="text" formControlName='username'>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">Email<abbr class="req" title="Required">*</abbr></label>
                    <input class="lowercell form-control" type="email" formControlName='email'>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">Primary Phone<abbr class="req"
                            title="Required">*</abbr></label>
                    <input class="lowercell form-control" type="text" formControlName='phone1'>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">Secondary Phone</label>
                    <input class="lowercell form-control" type="text" formControlName='phone2'>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">Address<abbr class="req" title="Required">*</abbr></label>
                    <input class="lowercell form-control" type="text" formControlName='address'>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">City<abbr class="req" title="Required">*</abbr></label>
                    <input class="lowercell form-control" type="text" formControlName='city'>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">State<abbr class="req" title="Required">*</abbr></label>
                    <input class="lowercell form-control" type="text" formControlName='state'>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">Postal Code<abbr class="req" title="Required">*</abbr></label>
                    <input class="lowercell form-control" type="text" formControlName='zipcode'>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">Country</label>
                    <input class="lowercell form-control" type="text" formControlName='country'>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">Title</label>
                    <input class="lowercell form-control" type="text" formControlName='title'>
                </div>
            </div>
            <div class="form-control" *ngIf='currxRec.user && currxRec.user.id'>
              
                <div class="d-flex">
                    <label class="uppercell form-control">Is Active</label>
                    <select formControlName='is_active' class="lowercell form-control">
                        <option *ngFor="let a of ackList" [ngValue]=a>{{a}} </option>
                    </select>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">Is Staff</label>
                    <select formControlName='is_staff' class="lowercell form-control">
                        <option *ngFor="let a of ackList" [ngValue]=a>{{a}} </option>
                    </select>
                </div>
                <div class="d-flex">
                    <label class="uppercell form-control">Is Superuser</label>
                    <select formControlName='is_superuser' class="lowercell form-control">
                        <option *ngFor="let a of ackList" [ngValue]=a>{{a}} </option>
                    </select>
                </div>
            </div>
        </div>

    </form>
</div>

<button class="btn" [disabled]="!(staffEditForm.valid)" (click)='updateStaff()'>
    <span class="material-icons">save</span></button>
<button class="btn" [disabled]="!(currxRec && currxRec.staff && currxRec.staff.id)" (click)='deleteStaff()'>
    <span class="material-icons"> delete </span>
</button>
<button type="button" (click)='close()'>
    <span class="material-icons"> close </span>
</button>