
<div class="flex-con">

    <div class="pane card">
        <div class="card-header">

            <h5>Arrivals</h5>
        </div>
        <div class="card-body"></div>
        <div class="card-footer"></div>
    </div>



    <div class="pane card">
        <div class="card-header">
            <h5>Departures</h5>
        </div>
        <div class="card-body"></div>
        <div class="card-footer"></div>
    </div>



    <div class="pane card">
        <div class="card-header">
            <h5>In House</h5>
        </div>
        <div class="card-body"></div>
        <div class="card-footer"></div>
    </div>
</div>
<div class="flex-con">

    <div class="pane card">
        <div class="card-header">
            <h5>House Keeping Status</h5>
        </div>
        <div class="card-body"></div>
        <div class="card-footer"></div>
    </div>

    <div class="pane card">
        <div class="card-header">
            <h5>Room View</h5>
        </div>
        <div class="card-body"></div>
        <div class="card-footer"></div>
    </div>

    <div class="pane card">
        <div class="card-header">
            <h5>Weather</h5>
        </div>
        <div class="card-body"></div>
        <div class="card-footer"></div>
    </div>

</div>
