.flex-con {
    width:90%;
    margin:auto;
}


.pane {
}

.dtable {
    width:100%;
    font-size:small
}

.form-control {
    border:none;
}

.gbutt {
    border:none;
    font-size:small;
    padding:5px;
    width:25%;
}
.namecell {
    width: 600px;
    border:1px solid green;
}

.roomgrid {
    font-size:small;
    width:25%;
    padding:5px;
}