<div style="background-color:black;height:100%;overflow-y:hidden;">
    <div #arrivals></div>


<div class="container">
    <carousel>
        <slide>
            <img width="100%" src="assets/img/hotel.jpg" alt="">      
        </slide>
        <slide>
            <img width="100%" src="assets/img/hotel2.jpg" alt="">      
        </slide>
        <slide>
            <img width="100%" src="assets/img/hotel3.jpg" alt="">      
        </slide>
        <slide>
            <img width="100%" src="assets/img/hotel4.jpg" alt="">      
        </slide>
        <slide>
            <img width="100%" src="assets/img/hotel5.jpg" alt="">      
        </slide>
        <slide>
            <img width="100%" src="assets/img/hotel6.jpg" alt="">      
        </slide>
      </carousel>
</div>
</div>