<mat-card class="gridcard">
    <mat-card-header *ngIf="staff"><h3>{{staff.first_name}}{{staff.last_name}}</h3> Action # {{actionRec.id}}</mat-card-header>
    <mat-card-content>
        <div *ngFor="let b of matrix">
            <h6 style="padding:1em">{{b.bldg.name }}</h6>
            <div class="d-flex flex-wrap">
                <div *ngFor="let r of b.rooms">
                    <button mat-button class="{{r.marker}} {{r.border}}" (click)='checkMark(r.id)'> {{r.number}}</button>
                </div>

            </div>
            <hr>
        </div>

    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>