<div class="card">
    <div class="card-header">
        <div>Season List</div>
        <div style="width:300px" class="d-flex"> 
            <button class="form-control" [disabled]="!(seasonEditForm.valid)" (click)="updateSeason(seasonEditForm.value)">
                <mat-icon>save</mat-icon>
            </button>
            <button  class="form-control"[disabled]="!(currSeason && currSeason.id)" (click)="clearSeason()">
                <mat-icon>note_add</mat-icon>
            </button>
            <button  class="form-control"[disabled]="!(seasonEditForm.value.id)" (click)='deleteSeason(seasonEditForm.value)'>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <div style="cursor:pointer" class="d-flex headingrow">
            <div class="form-control">Name</div>
            <div class="form-control">Discount</div>
            
            <div class="form-control">Description</div>
            <div class="form-control">Color</div>
            
        </div>
        <form novalidate [formGroup]="seasonEditForm">
            <div class="d-flex">
                <input autofocus placeholder="Name" type="text" formControlName='name' class="form-control">
                <input placeholder="Discount" type="number" formControlName='discount' class="form-control">
                <input placeholder="Description" type="text" formControlName='descr' class="form-control">
                
                <select class="form-control"  placeholder="Color" 
                    [ngStyle]="{'background-color':seasonEditForm.value.color}"
                    formControlName='color'>
                    <option value="">Select a color</option>
                    <option [ngStyle]="{'background-color':c.value}" *ngFor="let c of colorList"
                    [ngValue]="c.value">{{c.display}} </option>
                </select>
            
  
            </div>
        </form>
    </div>
    <div class="card-body">
 

        <div style="cursor:pointer" class="d-flex" *ngFor="let s of seasonList">
            <div class="form-control active" (click)='selectSeason(s)'>{{s.name}}</div>
            <div class="form-control">{{s.discount}}</div>
            <div class="form-control">{{s.descr}}</div>
            <div class="form-control" [ngStyle]="{'background-color':s.color}">{{s.color}}</div>


            
        </div>

    </div>

</div>

