<div style="text-align:center">
    <nav class='navbar'>
        <h5>Room Action Edit</h5>
        <button type="button" (click)='close()'>
            <span class="material-icons"> close </span>
        </button>
    </nav>
</div>


<div class="row">
    <div class="col">
        <div class="card">
             <div class="card-body">
                <form novalidate [formGroup]="actionEditForm">
                    <div class="d-flex">
                        <div class="form-control">

                            <div class="d-flex">
                                <label class="uppercell form-control">Date<abbr class="req"
                                        title="Required">*</abbr></label>
                                <input class="lowercell form-control" type="date" formControlName='date'>
                            </div>
                            <div class="d-flex">
                                <label class="uppercell form-control">Department<abbr class="req"
                                        title="Required">*</abbr></label>
                                <select formControlName='department' class="lowercell form-control"
                                    (change)="makeStaffList(actionEditForm.value.department)">
                                    <option *ngFor="let a of deptList" [ngValue]='a.value'>{{a.display}} </option>
                                </select>
                            </div>
                            <div class="d-flex" *ngIf="actionEditForm.value.department">
                                <label class="uppercell form-control">Staff<abbr class="req"
                                        title="Required">*</abbr></label>
                                <select formControlName='staff' class="lowercell form-control">
                                    <option *ngFor="let a of staffList" [ngValue]='a.username'>{{a.first_name}}
                                        {{a.last_name}} </option>
                                </select>
                            </div>
                            <div class="d-flex">
                                <label class="uppercell form-control">Item<abbr class="req"
                                        title="Required">*</abbr></label>
                                <select formControlName='item' class="lowercell form-control">
                                    <option *ngFor="let a of itemList" [ngValue]='a.value'>{{a.display}} </option>
                                </select>
                            </div>
                            <div class="d-flex">
                                <label class="uppercell form-control">Description</label>
                                <input class="lowercell form-control" type="text" formControlName='item'>
                            </div>
                            <div class="d-flex">
                                <label class="uppercell form-control">Result</label>
                                <input class="lowercell form-control" type="email" formControlName='result'>
                            </div>

                            <div class="d-flex">
                                <label class="uppercell form-control">Assigned By</label>
                                <input class="lowercell form-control" type="text" formControlName='assignedBy'>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="card-footer">

            <button class="btn" [disabled]="!(actionEditForm.valid)" (click)='updateAction()'>
                <span class="material-icons">save</span></button>
                <button class="btn" style="margin-left:2em" [disabled]="false" (click)='deleteAction()'>
                    <span class="material-icons"> delete </span>
                </button>
                <button class="btn" style="margin-left:2em" [disabled]="false" >
                    <span class="material-icons"> printer </span>
                </button>
                </div>
    </div>
    <div class="col">
        <div *ngIf="actionRec.id">
            <app-grid-select [(roominfos)]='roominfos' [actionRec]='actionRec'></app-grid-select>
        </div>

    </div>


</div>