<div class="card" style="height:98%;overflow-y:scroll" *ngIf="currRsvn && currRsvn.id">
    <div class="card-header">
        <h5>Room Control</h5>
    </div>
    <div class="card-body">

        <h4>{{currRsvn.primary.firstname}} {{currRsvn.primary.middlename}} {{currRsvn.primary.lastname}}</h4>
        <div class='d-flex'>
            <div class="form-control">Check In<br>{{ currRsvn.dateIn }}</div>
            <div class="form-control">Check Out<br>{{ currRsvn.dateOut }}</div>
        </div>


        <div class="section">Assigned Rooms - {{currNumRooms}}/{{currRsvn.numrooms}}</div>
        <div>
            <div>
                <div *ngFor="let r of currRoomList" class="rlcell">
                    <div class="d-flex" >
                        <button mat-button style='width:75%' class='form-control' (click)="unassignRoom(r.room)">
                            {{ r.bldg.name }} -- {{ r.roominfo.number }} -
                            {{ r.roominfo.beds }} Beds
                        </button>
                        <div style='width:25%'>
                       {{r.room.status }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-room-list [currRsvn]='currRsvn' (currRsvnChange)= 'refreshRsvn()'></app-room-list>
    </div>
    <div class="card-footer">
    </div>
</div>