<div class="card" style="height:98%;overflow-y:scroll" *ngIf="currRsvn && currRsvn.id">
    <div class="card-header">
        <h5>Room Control</h5>
    </div>
    <div class="card-body">
        <h4>{{currRsvn.primary.firstname}} {{currRsvn.primary.middlename}} {{currRsvn.primary.lastname}}</h4>
        <div class='d-flex'>
            <div class="form-control">Check In<br>{{ currRsvn.dateIn }}</div>
            <div class="form-control">Check Out<br>{{ currRsvn.dateOut }}</div>
        </div>
        <div class="section">Assigned Rooms - {{currNumRooms}}/{{currRsvn.numrooms}}</div>
        <div class="flex-con">
            <div *ngFor="let r of roomList" class="rmcell ">
                
                <button  [ngClass]="r.status == 'checkin' ? 'checkin' : 'checkout'" [matMenuTriggerFor]="roomMenu">
                    <div >
                        <div class='{{ r.roominfo.bldg.name }}'> {{ r.roominfo.bldg.name }} -- {{ r.roominfo.number }}</div>  
                        <div class="rateAlias">{{ r.roominfo.rateAlias }}</div>
                    </div>
                    <div *ngIf="rsvnDateActive()" [ngClass]="{'rmsubcell':true,'ready':r.roominfo.status=='ready'}">{{ r.roominfo.status}}</div>
                </button>




                <mat-menu #roomMenu="matMenu">
                    <div mat-menu-item><h5>{{ r.status }}</h5></div>
                    <div *ngIf="rsvnDateActive() && r.roominfo.status=='ready'" mat-menu-item (click)="check(r,'checkin')">Check-In </div>
                    <div *ngIf='rsvnDateActive()' mat-menu-item (click)="check(r,'checkout')">Check-Out </div>
                    <div mat-menu-item (click)="unassignRoom(r.room)">Delete </div>
                </mat-menu>

            </div>
        </div>
        <app-room-list [currRsvn]='currRsvn' (currRsvnChange)='refreshRsvn()'></app-room-list>
    </div>
    <div class="card-footer">

    </div>
</div>