<div *ngIf="!loaded">
  <img src="/assets/img/loader.gif">
</div>
<div class="d-flex" *ngIf="loaded">
  <div style="width:20%; height:700px;overflow-y:scroll">

    <app-action-matrix-sidebar [data]='sidebarData'></app-action-matrix-sidebar>

  </div>
  <div style="width:80% ;height:700px;overflow-y:scroll;background-color:rgb(233, 233, 233)">
    <div *ngFor="let item of dispList">
      <h4>{{item.bldg.name}}</h4>

      <div class="d-flex flex-wrap">
        <div *ngFor="let rms of item.rooms">
          <div class="grid_button">
            
            
            <div class="d-flex">
              <div style="text-align:center;height:35px;font-size:large" 
                [ngClass]="{'col-6':true,'warning':!rms.active && rms.status =='occupied' }"> {{ rms.number }}</div>
              <div class="col-6" style="text-align:center" >
                <div *ngIf="rms.active"   class="d-flex">
                  <div *ngFor="let act of rms.active ">
                    <button class="imgbutt" *ngIf="act && act.active == 'checkout'" (click)='layout(act)'>
                      <img src="/assets/img/check-red.png" height="20px"></button>
                    <button  class="imgbutt"  *ngIf="act && act.active == 'checkin'" (click)='layout(act)'>
                      <img src="/assets/img/check-green.png" height="20px"></button>
                    <button  class="imgbutt" *ngIf="act && act.active == 'inhouse'" (click)='layout(act)'>
                      <img src="/assets/img/house.png" height='20px'></button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="d-flex">
              <div class="col-6 {{rms.status}}" style="font-size:small;text-align:center;cursor:pointer" [matMenuTriggerFor]="roomMenu">{{ rms.status}}</div>
              <div class="col-6"></div>
            </div>
            <div style="background-color:rgb(194, 208, 223);color:black;height:1.5em">
              <span style="font-size:small;cursor:pointer;margin-left:5px" (click)='layout(x)'
                *ngFor="let x of rms.action">( {{ x.staff.last_name | slice :0:6 }} ) </span>
            </div>

            
            
            
            <mat-menu #roomMenu="matMenu">
              <div class="menu-head">Room Status Override</div>
              <button *ngFor="let rs of roomStatus" mat-menu-item (click)="roomStatusChange(rms.id,rs.value)">{{
                rs.display}} </button>
            </mat-menu>
           </div>
        </div>
      </div>
    </div>

  </div>


</div>