
.grid_button {
    width:150px;
    height:100px;
  background-color: white;
    border:1px solid green;

  
}

.imgbutt {
    background-color:inherit;
    border:none;
}

.gbl {
    height:40px;
}

.mat-menu-item {
    margin-left:15px;
    padding:none !important;
    font-size:medium;
  
}
.menu-head {
    font-weight:bold;
    text-align:center;
    
}
.warning {
    background-color:red;
    color:yellow;
}