.hktable {
  
    background-color: rgb(255, 247, 223);
    tr {

    }
    td {
        border:1px solid silver;
        width:12%;

    }
    th {
        border:1px solid black;
        text-align:center;
        background-color:burlywood;
        color:black;
        
    }
}
.daymark {
    background-color:rgb(243, 243, 190) !important;
}
.selectmark {
    background-color:greenyellow;
}

button {
    background-color:inherit;
    border:none;
}