.hktable {
    width:100%;
    background-color: rgb(255, 247, 223);
    tr {

    }
    td {
        border:1px solid silver;
        width:12%;

    }
    th {
        border:1px solid black;
        text-align:center;
        background-color:burlywood;
        color:black;
        
    }
}