<div class="row">
    <div class="col-4" style="height:700px;overflow-y:scroll">
        <app-action-items (changeItems)='refreshGrid()'></app-action-items>

            
            <app-grid-select [roominfos]='roominfos' (roominfosChange)='refreshGrid()' [actionRec]='actionRec' [staff]='staff' ></app-grid-select>
    </div>

    <div class="col" style="height:700px;overflow-y:scroll;;background-color:rgb(177, 177, 177)">




        <div *ngFor="let bld of bldgList">
            <h4> {{ bld.name }}</h4>
            <table class="table hktable">
                <tr>
                    <th>Rooms/DOW</th>
                    <th *ngFor="let d of dow">{{d}}</th>
                </tr>
                <tr *ngFor="let room of bld.rooms">
                    <th style="width:5%">{{ room.number }}</th>
                    <td>
                        <div *ngFor="let x of room.week.mon " > <button mat-button (click)="actionSelect(x.id)">{{x.name}}: <span style="font-size:x-small">{{x.item
                            |slice:0:10}}</span></button></div>
                    </td>
                    <td>
                        <div *ngFor="let x of room.week.tue "><button mat-button (click)="actionSelect(x.id)">{{x.name}}: </button><span style="font-size:x-small"> {{x.item
                                |slice:0:10}}</span></div>
                    </td>
                    <td>
                        <div *ngFor="let x of room.week.wed "><button mat-button (click)="actionSelect(x.id)">{{x.name}}: </button> <span style="font-size:x-small">{{x.item
                                |slice:0:10}}</span></div>
                    </td>
                    <td>
                        <div *ngFor="let x of room.week.thr "><button mat-button (click)="actionSelect(x.id)">{{x.name}}: </button><span style="font-size:x-small">{{x.item
                                |slice:0:10}}</span></div>
                    </td>
                    <td>
                        <div *ngFor="let x of room.week.fri "><button mat-button (click)="actionSelect(x.id)">{{x.name}}: </button> <span style="font-size:x-small">{{x.item
                                |slice:0:10}}</span></div>
                    </td>
                    <td>
                        <div *ngFor="let x of room.week.sat "><button mat-button (click)="actionSelect(x.id)">{{x.name}}: </button> <span style="font-size:x-small">{{x.item
                                |slice:0:10}}</span></div>
                    </td>
                    <td>
                        <div *ngFor="let x of room.week.sun "><button mat-button (click)="actionSelect(x.id)">{{x.name}}: </button> <span style="font-size:x-small">{{x.item
                                |slice:0:10}}</span></div>
                    </td>

                </tr>
            </table>

        </div>






    </div>


</div>