<mat-card class="gridcard ">
    <mat-card-content>
        <div *ngFor="let bld of roomList$ | async ">
            <h5>{{ bld.bldg.name }}</h5>
            <div class="d-flex flex-wrap">
                <div *ngFor='let room of bld.roominfo '>
                    <button [ngClass]="{'check':room.check,'rabuttons':!room.check }"    
                            (click)="setRoom(room.id)">{{ room.number }}</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>