<!-- Navigation -->
<nav style="height: 48px" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" style="color:white">
        <a class="navbar-brand" href="/dashboard"><img src="/assets/img/rsvn.png" style="border:none;width:80px"></a>
        
        
        <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem>
                <a ngbNavLink>Guest Control</a>

                <ng-template ngbNavContent>
                   <p> <app-rsvn-ctrl [(currRsvn)]='currRsvn' [(currGuest)]='currGuest'></app-rsvn-ctrl></p>
                </ng-template>

            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink>Grid Views</a>

                <ng-template ngbNavContent>
                   <p><app-grid [(currRsvn)]='currRsvn' [(currGuest)]='currGuest'
                        (gridSelect)="selectedGuest($event)"> </app-grid></p>
                </ng-template>

            </ng-container>

        </nav>
        
        
        <app-clock></app-clock>
        <div class="d-flex">
            <div class="navbar-text" style="margin-right:3em;font-family:nova;font-weight:bold;font-size:12pt"> Welcome
                {{ user.username
                }} </div>
            <a class=" btn btn-outline-success" href="/login">Log Off</a>
        </div>
    </div>
</nav>
<!-- Page Tab Content -->
<div class="content-box">
    <div style="height:100%" class="d-flex flex-wrap">

        <!-- Sidebar Search Column-->
        <div style="width:15%;height:100%">
            <app-search-ctrl [(currRsvn)]='currRsvn' [(currGuest)]='currGuest'></app-search-ctrl>
        </div>

        <!-- Center Column -->
        <div style="width:60%;height:100%">
   
            <div [ngbNavOutlet]="nav" ></div>

        </div>
        <div style="width:25%;height:100%">
            <!-- Right Column-->
            <app-room-ctrl [(currRsvn)]='currRsvn' [(currGuest)]='currGuest'></app-room-ctrl>
        </div>
    </div>
</div>