<!-- Navigation -->
<nav style="height: 48px" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" style="color:white">
        <a class="navbar-brand" href="/dashboard"><img src="/assets/img/rsvn.png" style="border:none;width:80px"></a>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Guest Control</button>
            <button class="nav-link" id="nav-grid-tab" data-bs-toggle="tab" data-bs-target="#nav-grid" type="button"
                role="tab" aria-controls="nav-profile" aria-selected="false">Grid Views</button>
            <button class="nav-link" id="nav-calendar-tab" data-bs-toggle="tab" data-bs-target="#nav-calendar"
                type="button" role="tab" aria-controls="nav-calendar" aria-selected="false">Calendars</button>
        </div>
        <app-clock></app-clock>
        <div class="d-flex">
            <div class="navbar-text" style="margin-right:3em;font-family:nova;font-weight:bold;font-size:12pt"> Welcome
                {{ user.username
                }} </div>
            <a class=" btn btn-outline-success" href="/login">Log Off</a>
        </div>
    </div>
</nav>
<!-- Page Tab Content -->
<div class="content-box">
      <div style="height:100%" class="d-flex flex-wrap">

<!-- Sidebar Search Column-->
        <div style="width:20%;height:100%">
            <app-search-ctrl [(currRsvn)]='currRsvn' [(currGuest)]='currGuest'></app-search-ctrl>
        </div>

<!-- Center Column -->        
        <div style="width:55%;height:100%">

            <div class="tab-content" style="height:100%" id="nav-tabContent">
                <div class="tab-pane fade show active" style="height:100%" id="nav-home" role="tabpanel"
                    aria-labelledby="nav-home-tab">
                    <app-rsvn-ctrl [(currRsvn)]='currRsvn' [(currGuest)]='currGuest'></app-rsvn-ctrl>
                </div>
                <div class="tab-pane fade" id="nav-grid" style="height:100%" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <app-grid [currRsvn]='currRsvn' (gridSelect)="selectedGuest($event)"> </app-grid>
                </div>
                <div class="tab-pane fade" id="nav-calendar" style="height:100%" role="tabpanel" aria-labelledby="nav-profile-tab">
                     <app-curr-grid></app-curr-grid>  
                </div>

            </div>

        </div>
        <div style="width:25%;height:100%">
<!-- Right Column-->
     <app-room-ctrl [(currRsvn)]='currRsvn' [(currGuest)]='currGuest'></app-room-ctrl>       
        </div>
    </div>



</div>


