<div class="card" style="height:97%;overflow-y:scroll">
    <div class="card-header">
        <form novalidate [formGroup]="searchForm" class="form-inline">
            <div class="d-flex  mt-3">
                <input type="search" formControlName='query' placeholder="Search" (focus)="searchForm.reset()"
                    class="form-control">
                <button style="width:60px" class="form-control">
                    <span class="material-icons">search</span>
                </button>
            </div>
        </form>
        <hr>
        <div style="text-align:left">
            <div>
                <button mat-button (click)="activeRes('current')">Current</button>
                <button mat-button (click)="activeRes('rsvns')">All Rsvns</button>
                <button mat-button (click)="activeRes('active')">Active</button>
                <button mat-button (click)="activeRes('future')">Future</button>
            </div>
            <div>
                <button mat-button [ngClass]="{'markit':scanList.length}" (click)="activeRes('noroom')">Room
                    Scanner</button>
            </div>
            <div>
                <button mat-button (click)="activeRes('guests')">Guests</button>
            </div>
        </div>

    </div>
    <div style=" font-size:14pt; font-weight:bold; text-align:center;padding:1em">
        {{ selectHead }}

    </div>
<hr>
    <div class="card-body p-0" style="overflow-y:scroll">

            <app-searcher-list (currGuestChange)='selectGuest($event)' (currRsvnChange)='selectRsvn($event)'
                [resultList]='resultList'>
            </app-searcher-list>

            <div *ngIf="infoOn">
                <app-info (currRsvnChange)='selectRsvn($event)'></app-info>
            </div>
        
    </div>

</div>