<div class="card">
    <div class="card-heading" style="text-align:center">
        <h4>Rate Calendar</h4>
    </div>
    <div class="card-body">
<div *ngFor="let mlist of monthLister">
    

       <table class="datatable">
            <tr>
                <th><h4 style="color:black">{{ mlist.monthList[0].head.year }}</h4></th>
                <th *ngFor='let m of mlist.mCounter;let i = index'>{{weekdays[i % 7]}}</th>
            </tr>
            <tr *ngFor='let ml of mlist.monthList'>
                <td class="head">{{ml.head.month }}</td>
                <td *ngFor='let d of ml.days'>{{d | slice:-2}}</td>
            </tr>
        </table>
    
    </div>
    
    
    </div>

    <div class="card-footer">
    </div>
</div>