
.rheading {
    text-align:center;
    padding:10px;
    font: {
        weight:bold;
        size:10pt;
        family:Nova;
    }
    border: {
        width:2px;
        color:teal;
        style :solid;
    }
}
.daycell {
    
}