@use "sass:math";
.rheading {
    text-align:center;
    padding:10px;
    font: {
        weight:bold;
        size:10pt;
        family:Nova;
    }
    border: {
        width:2px;
        color:teal;
        style :solid;
    }
}
.rcell {
    width: math.div(96,36) * 100%
    
}

.datatable {
    width:100%;
    .head {
         font-size:medium;
         color:black;
        
    }
    th {
        text-align:center;
        border: {
            style:solid;
            color:grey;
            width:1px;
        }
        font: {
            weight:bold;
            size:small;
                

        }
        color:midnightblue;
    }
    td {
        color:seagreen;
        text-align:center;
        font-size:medium;
        border: {
            style:solid;
            color:grey;
            width:1px;
        }
    }
}