<div class="card">
    <div class="card-heading" style="text-align:center">
        <h4>Rate Calendar</h4>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-2 rheading">
                Date List
            </div>
            <div class="col-md-10 rheading">
                Calendar

            </div>
        </div>
        <div class="row ratecal">
            <div class="col-md-2">
             
            </div>
            <div class="col-md-10">
                

            </div>
        </div>


    </div>
    <div class="card-footer">
        <app-fileinput (results)="setResults($event)"></app-fileinput>


    </div>
</div>