

<mat-card style="width:40%">
 
    <mat-card-header > 
       
    </mat-card-header>
    <mat-card-content >
        <form novalidate [formGroup]="chartCtrlForm">
            
        <div class="row">
                <div class="col"><h4>Chart Period</h4></div>
                <div class="col">
                    <select class="form-control" placeholder="Place" formControlName='chartSpan'>
                      
                        <option  *ngFor="let i of graphType" [ngValue]="i.value">{{i.display}} </option>
                    </select>
    
                </div>
                <div class="col"><input  class="form-control" type="date" formControlName='dateStart'></div>
                <div class="col"><input  class="form-control" type="date" formControlName='dateEnd'> </div>
                <div class="col button" (click)="manualDate()"><button>Go</button></div>
                
            
        </div>
    </form>
    </mat-card-content>
</mat-card>

<ng-container *ngFor="let ds of dataSet$ | async; let i = index">
    <mat-card class='graphbox mat-elevation-z8' style="border:1px solid green">
        <mat-card-title>{{ds.bldg.name}}  <span style="margin-left:2em">{{ dateStart}} to {{dateEnd}} </span></mat-card-title>
        <mat-card-header></mat-card-header>
        <mat-card-content>
            
            
            <div class="row">
                <div class="col-9">
                    <div echarts [options]="ds.graph" ></div>
                </div>
              
                <div class="col">
                    <mat-card class='mat-elevation-z3'>

                        <mat-card-header></mat-card-header>
                        <mat-card-title>Period Summary</mat-card-title>
                        <mat-card-content>
                            <table class="periodTable">
                                <tr>
                                    <th>Room Days</th>
                                    <td>{{ds.total_days}}</td>
                                </tr>
                                <tr>
                                    <th>Occupancy</th>
                                    <td>{{ ds.occupancy | percent:'.3' }}</td>
                                </tr>
                                
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Revenue Actual</th>
                                    <td>{{ ds.total_charges | number:'0.0-0' }}</td>
                                </tr>
                                
                                <tr>
                                    <th>Revenue Max</th>
                                </tr>
                            </table>

                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
    </mat-card-content>
</mat-card>
</ng-container>

