<div class="card">
    <div class="card-header">
        <nav class="navbar">
            <h5 class='card-title'>Staff List</h5>
            <button mat-button (click)='newStaff()'><mat-icon>note_add</mat-icon></button>

        </nav>

    </div>
    <div class="card-body">

        <div class="d-flex">
            <div class="form-control">Name</div>
            <div class="form-control">Department</div>
            <div class="form-control">Title</div>
            <div class="form-control">Security Level</div>
            

            <div class="form-control">Telephone</div>
            <div class="form-control">Email</div>
            <div class="form-control">Username</div>

            <div class="form-control">Temp Passwd</div>
            <div class="form-control d-flex">

                <div class="form-control" style="border:0;padding:1px">Act</div>
                <div class="form-control" style="border:0;padding:1px">St</div>
                <div class="form-control" style="border:0;padding:1px">Su</div>
            </div>
            <div class="form-control">Joined</div>


        </div>
        <div class="d-flex displist" style="border:1px solid silver" *ngFor="let x of dispList">
            <div class="form-control active"  (click)='selectStaff(x)'>{{x.staff.first_name}} {{x.staff.last_name}} 
                
            </div>
            
            <div class="form-control">{{x.staff.department}}</div>
            <div class="form-control">{{x.staff.title}}</div>
            <div class="form-control">{{x.staff.level}}</div>
            
            <div class="form-control">{{x.staff.phone1}}</div>
            <div class="form-control">{{x.staff.email | slice:0:20}}</div>
            <div class="form-control">{{x.staff.username}}</div>
            
            <div class="form-control">{{x.staff.temppass | slice:0:10}}</div>
            <div class="form-control d-flex">
                <div class="form-control" style="border:0;padding:1px">{{x.user.is_active}}</div>
                <div class="form-control" style="border:0;padding:1px">{{x.user.is_staff}}</div>
                <div class="form-control" style="border:0;padding:1px">{{x.user.is_superuser}}</div>
            </div>
            
            <div class="form-control">{{x.user.date_joined | date: 'shortDate'}}</div>
        </div>
    </div>
    <div class="card-footer"></div>
</div>