<p>room-collision works!</p>

<div *ngIf="currRsvn" style='height:250px;overflow-y:scroll'>
    Checking Reservation {{ currRsvn.confirm}}
    <div *ngIf="rsvnScan | async as scan ">
        {{ scan.rate}}
      <h5>Lateral Move <strong>{{scan.rate}}</strong></h5>
      <div *ngFor=" let exc of scan.exchange">
        <p>{{ exc.bldg }}</p>
        <button mat-button *ngFor=" let ri of exc.roominfos">
            {{ ri.number}}
        </button>
       </div>
      <h5>New Rate</h5>
      <div *ngFor=" let newr of scan.newRate">
        <p>{{ newr.bldg }}</p>
        <div *ngFor="let rate of newr.rateList">
            {{ rate.rate }}
            <button mat-button *ngFor="let rii of rate.roominfos">
                {{ rii.number}}
            </button>
        </div>

    </div>

    </div>
</div>

<div *ngIf="currRsvn" style='height:400px;overflow-y:scroll'>

    <div *ngFor="let x of collList">
        {{x.rsvn.confirm}}
        <div class="d-flex flex-wrap">


            <div *ngFor="let r of x.rooms">
                <button mat-button [ngClass]="{'warning':r.collision}"
                    (click)="checkRsvn(r.room.rsvn,r.roominfo.rateAlias)">{{
                    r.bldg.name }} {{ r.roominfo.number }} {{ r.roominfo.rateAlias }}</button>
            </div>
        </div>
    </div>
</div>


<!--


<mat-card style="text-align:center">


    <mat-card-title>Rooms Available</mat-card-title>
    <mat-card-content style="height:500px; overflow-y:scroll; padding:1em">
        <ng-container *ngFor="let x of availRooms$ | async">
            <div style="text-align:left;font-weight:bold">{{ x.bldg.name}}</div>
            <ng-container *ngFor="let y of x.rates">
                <div class='row ratecell' *ngIf="y.roominfo.length">
                    <div class="col-4">{{ y.rate.alias }}</div>
                    <div class="col" style="text-align:left">
                        <ng-container *ngFor="let z of y.roominfo">
                            <button class="roombutt" (click)="assignRoom(z)">{{ z.number }}</button>
                        </ng-container>
                    </div>
                </div>

            </ng-container>
        </ng-container>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>

-->