.warning {
    background-color:pink;
}

.roombutt {
    border:1px solid silver;
  font-size:small;

  padding:5px;

}
.clearbutt {
    border:1px solid silver;
  font-size:small;
background-color:inherit;
}