<div class="row">

    <div class="col" style='height:550px; overflow-y:auto'>

        <div *ngFor="let x of collList">
            {{x.rsvn.confirm}}
            <div class="d-flex flex-wrap">
                <button *ngFor="let r of x.rooms" [ngClass]="{'warning':r.collision,roombutt:true}"
                    (click)="checkRsvn(r)">{{r.bldg.abbrev }} {{ r.roominfo.number
                    }}</button>

            </div>
        </div>
    </div>


    <div class="col" style='height:550px; overflow-y:auto'>
        <div *ngIf="rsvnScan | async as scan ">
            <mat-card>
                <mat-card-title>Swap </mat-card-title>
                    <mat-card-subtitle>{{ scan.bldg.name}} {{ scan.roominfo.number }} - {{scan.rate}}</mat-card-subtitle>
                <mat-card-content>
                    <div *ngFor=" let exc of scan.exchange" class="row">
                        <div class="col-3"><strong>{{ exc.bldg }}</strong></div>
                        <div class="col d-flex flex-wrap">
                            <button class="clearbutt"  (click)="swapRoom(ri)" *ngFor="let ri of exc.roominfos">
                                {{ ri.number}}
                            </button>

                        </div>
                    </div>
                    <hr>
                </mat-card-content>
                <mat-card-title>Other Rates Available</mat-card-title>
                <mat-card-content>
                    <div *ngFor=" let newr of scan.newRate">
                        <strong>{{ newr.bldg }}</strong>
                        <div *ngFor="let rate of newr.rateList" class="row">
                            <div class="col-3">{{ rate.rate }}</div>
                            <div class="col d-flex flex-wrap">
                                <button class="clearbutt" (click)="swapRoom(ri)"  *ngFor="let ri of rate.roominfos">
                                    {{ ri.number}}
                                </button>
                            </div>
                        </div>
                    </div>

                </mat-card-content>

            </mat-card>
        </div>
    </div>
</div>

<!--


<mat-card style="text-align:center">


    <mat-card-title>Rooms Available</mat-card-title>
    <mat-card-content style="height:500px; overflow-y:scroll; padding:1em">
        <ng-container *ngFor="let x of availRooms$ | async">
            <div style="text-align:left;font-weight:bold">{{ x.bldg.name}}</div>
            <ng-container *ngFor="let y of x.rates">
                <div class='row ratecell' *ngIf="y.roominfo.length">
                    <div class="col-4">{{ y.rate.alias }}</div>
                    <div class="col" style="text-align:left">
                        <ng-container *ngFor="let z of y.roominfo">
                            <button class="roombutt" (click)="assignRoom(z)">{{ z.number }}</button>
                        </ng-container>
                    </div>
                </div>

            </ng-container>
        </ng-container>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>

-->