.statTable {
border:1px solid silver;
 
}

.statlabel {
    text-align:right;
    font-size:medium;
    background-color:azure;
    border-right:1px solid green;
    padding:5px;
}
.statvalue {
    padding:5px;
    font-size:medium;

}
.datacell {

border-bottom:1px solid silver;
    
}