<div class="row" *ngIf="!currRoominfo || !currRoominfo.id">
    <h3>Select a Room Number in the matrix to display Room Statistics</h3>
</div>

<div class="row" *ngIf="currRoominfo && currRoominfo.id">
    <div class="col-3">
        <mat-card  class="statTable">
            <mat-card-title>Information</mat-card-title>
            <mat-card-content>
                <div class="row datacell">
                    <div class="col statlabel">ID</div>
                    <div class="col statvalue">{{ currRoominfo.id }}</div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel">Bldg</div>
                    <div class="col statvalue">{{ currRoominfo.bldg }}</div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel">Floor</div>
                    <div class="col statvalue">{{ currRoominfo.floor }}</div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel">Number</div>
                    <div class="col statvalue">{{ currRoominfo.number }}</div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel">Status</div>
                    <div class="col statvalue {{ currRoominfo.status}}">{{ currRoominfo.status}}</div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel">Rate Alias</div>
                    <div class="col statvalue">{{ currRoominfo.rateAlias }}</div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel"># of Beds</div>
                    <div class="col statvalue">{{ currRoominfo.beds }}</div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel">Size</div>
                    <div class="col statvalue">{{ currRoominfo.size }}</div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel">Descr</div>
                    <div class="col statvalue">{{ currRoominfo.descr }}</div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel">Phone</div>
                    <div class="col statvalue">{{ currRoominfo.phone }}</div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel">IP Address</div>
                    <div class="col statvalue">{{ currRoominfo.ipaddr}}</div>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
    <div class="col-3">
        <mat-card class="statTable">
            <mat-card-title>Usage</mat-card-title>

            <mat-card-content>
 
                <div class="row datacell">
                    <div class="col statlabel">Reservations</div>
                    <div class="col statvalue">{{ roomUsage.result.length}} </div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel">Days</div>
                    <div class="col statvalue">{{ roomUsage.totals}} </div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel">Revenue</div>
                    <div class="col statvalue"> </div>
                </div>
                <div class="row datacell">
                    <div class="col statlabel">Service Calls</div>
                    <div class="col statvalue"> </div>
                </div>
                  
            </mat-card-content>
        </mat-card>

    </div>
    <div class="col-5">
        <mat-card class="statTable">
            <mat-card-title>History</mat-card-title>

            <mat-card-content>
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Check In</th>
                        <th>Check Out</th>
                        <th># of Days</th>
                        
                    </tr>
                    <tr *ngFor="let rms of roomUsage.result; index as i ">
                        <td>{{i+1}}.</td>
                        <td>{{ rms.dateIn }}</td>
                        <td>{{ rms.dateOut}}</td>
                        <td style="text-align:center">{{ rms.span}}</td>

                    </tr>
      
                </table>
                  
            </mat-card-content>
        </mat-card>

    </div>

</div>