
<app-charge-room-list [currRsvn]='currRsvn'></app-charge-room-list>
<app-charge-chg-list [currRsvn]='currRsvn' ></app-charge-chg-list>
<app-charge-pmt-list [currRsvn]='currRsvn'></app-charge-pmt-list>



<div class="d-flex totalcell">
    <div class="form-control"></div>
    <div class="form-control"><strong>Total Charges</strong></div>
    <div class="form-control dcell" ><strong>{{ grandTotal | currency}}</strong></div>
</div>

<div class="d-flex totalcell">
    <div class="form-control"></div>
    <div class="form-control"><strong>Balance</strong></div>
    <div class="form-control dcell" ><strong>{{ balance | currency}}</strong></div>
</div>