<mat-card>
    <mat-card-title>
        Occupancy Matrix
    </mat-card-title>
    <mat-card-header>
        <div class="d-flex p-2">
            <input style="text-align:center;width:300px" (change)='changeDate()' type='date' [(ngModel)]='currDateStart'
                class='form-control'>
            <mat-slider min="7" max="30" step="1" [ngStyle]="{'background-color':'royalblue'}" [(ngModel)]="days"
                (change)="slide()"></mat-slider>
            <div class="form-control" style="width:200px"> {{ days }} Days</div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="d-flex">
            <div class="roomcell" [style.width.%]='gridwidth'>Dates</div>
            <div class="roomcell" [style.width.%]='gridwidth' (click)='setDate(d)' style="cursor:pointer"
                *ngFor="let d of dayList" [ngStyle]="{'background-color':d == Today ? 'yellow' : 'navajoWhite' }">
                {{ d | date:'EE'}}<br>
                {{ d | date:'M/d'}}
            </div>
        </div>
        <div style="height:600px;overflow-y: scroll;">
            <div *ngFor="let d of gridList$ | async">
                <h3>{{ d.bldg.name }}</h3>
                <hr>
                <ng-container *ngFor="let r of d.roominfo">
                    <app-matrix-line [gridline]='r' [dayList]='dayList' [gridwidth]='gridwidth'
                        (rsvnId)='selectRsvn($event)'></app-matrix-line>
                </ng-container>
            </div>
        </div>
    </mat-card-content>
</mat-card>



