
    .recbox {
       
        .box {
            border: 1px solid teal;
            height: 300px;
            overflow-y: scroll;
        }
        .heading {
            font-weight:bold;
        }
    }
    .money {
        text-align:right;
        color:darkgreen;
        font-weight:bold;

    }