<div class="card">
    <div class="card-header"> 
        <h4>Guest Information Dashboard</h4>

    </div>
    <div class="card-body">
        <div  class="guestbrief copper">
            Guest - {{currGuest.firstname}} {{currGuest.lastname}} -{{currGuest.email}} </div>
        <app-guest-edit [(currRsvn)]='currRsvn' [(currGuest)]='currGuest'> </app-guest-edit>
        
        
        <div  class="guestbrief copper">
            Rsvn - {{currRsvn.dateIn}} -  {{currRsvn.dateOut}} </div>
        <app-rsvn-edit   [(currRsvn)]='currRsvn' [(currGuest)]='currGuest'></app-rsvn-edit>
        
        
        <app-charge-ctrl [currRsvn]='currRsvn'> </app-charge-ctrl>
        

    </div>
    <div class="card-footer"></div>
</div>
