

$highlightColor:teal;
$highlightFont:Quicksand;
$highlightFontSize:1.2em;

.guestbrief {
    font-size:$highlightFontSize;
    color:$highlightColor;
    font-family:$highlightFont;
    padding:3px;
}
