/* You can add global styles to this file, and also import other style files */

@import "custom_variables";

@import "/node_modules/bootstrap/scss/bootstrap";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: OpenSans;
    src: url("/assets/fonts/OpenSans-Regular.ttf"); }

  @font-face {
    font-family: Copper;
    src: url("/assets/fonts/COPRGTB.TTF"); }

  @font-face {
    font-family: Quicksand;
    src: url("/assets/fonts/Quicksand-Regular.otf"); }

  @font-face {
    font-family: Nova;
    src: url("/assets/fonts/Novecentosanswide-Normal.ttf"); }

  @font-face {
    font-family: NovaDemi;
    src: url("/assets/fonts/Novecentosanswide-DemiBold.ttf"); }

    @font-face {
    font-family: Upsilon;
    src: url("/assets/fonts/upsilon.ttf"); }

    @font-face {
    font-family: Londrina;
    src: url("/assets/fonts/LondrinaShadow-Regular.ttf"); }

    @font-face {
    font-family: Niconne;
    src: url("/assets/fonts/Niconne-Regular.ttf"); }

  body {
    font-family: OpenSans;
    background-image: linear-gradient(to right, #bdd8d3, rgb(218, 229, 250));
  }


.Galaxy { color:maroon}
.Regal   { color: royalblue}
.checkin {
  background-color:aquamarine;
}
.checkout {
  background-color:inherit;
}
.dirty {
  background-color:silver;
}
.ready-text {
  color:darkgreen;
}
.ready {
  background-color:seagreen;
  color:white;
}
.inspected {
  background-color:navajowhite;
}
.occupied {
   background-color:pink;

}
.OOC {
  background-color:black;
  color:yellow;
}
.cleaning {
  background-color:yellow;
}
.unknown,.none {
  background-color:snow;
}




  h6 {
      font-size:11pt;
      font-family:nova
  }

  .align-center {
      text-align:center;
  }

  .nova {
    font-family: Nova;
  }
  .novabold {
    font-family: NovaDemi;
  }

  .copper {
    font-family: Copper;
  }


  .flex-con {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:align-center;
  }


.banner-text {
  font-family:Niconne;
  font-size:30pt;
  color:grey;
}





$inputshade : #e6f6ff;




.uppercell {
  margin: 0;
  padding: 5px;
  font-size: 0.85rem;
  text-align: left;
  color: var(--bs-gray-600);
}

.lowercell {
  margin: 0;
  background-color: $inputshade;

}
.error {
  color: yellow !important;
  background-color:red !important;
  font-weight: bold;
}



.cellgroup {
  margin-bottom: 1em;
}




.section-heading {
  width: 25%;
  font-family: Nova;
  font-size: 1.1rem;
}

.section-body {
  width: 75%;
}

section {
  display: flex;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid var(--bs-gray);
}

.req {
  color: var(--bs-danger);
}

.rctable div,option,select,input {
  font-size:small;
}

.active {
  cursor:pointer;
  font-weight:bold;
  color:royalBlue;
}


.charge-block  {
  padding:1em;
  margin-bottom:1em;
}
.headingrow div {
  text-align:center;
  font-weight:bold;
  font-size:small;
  font-family:Nova;
  border:none;
  border-bottom:1px solid  black;
}


.dcell {
  text-align:right;
  padding-right:40px;
}


.datarow div {
  font-size:small;
}


.totalcell {
  border:2px solid teal;
  font-size:medium;
  padding:2px;
}

.subtotalcell {
  border-top:1px solid rgb(58, 58, 58);
  border-bottom:1px solid rgb(58, 58, 58);
  border-left:none;
  border-right: none;
}
