<section>
    <h3 class="section-heading">Room Charges</h3>
    <div class="section-body ">
        <div *ngFor="let rec of roomList$ | async " >
            <h4 >{{ rec.bldg.name }} - {{ rec.roominfo.number}} {{ rec.roominfo.rateAlias}}</h4> 
             Total - {{ rec.total_charges|currency}}
            <hr>
            
        </div>
  <!--
        <app-charge-line [roomall]='room' (roomallChange)='newRoomall($event)'>
        </app-charge-line>

  -->
        <div class="d-flex subtotalcell">
            <div class="form-control"></div>
            <div class=" form-control align-self-end"><strong>Room Charge</strong></div>
            <div class=" form-control align-self-end dcell"><strong>{{roomTotal | currency}}</strong></div>
        </div>

    </div>
</section>