<div>
    <div class="form-control"><button mat-button >Room Charges</button></div>
    <div class="headingrow d-flex">
        
      
        <div class="form-control">Building</div>
        <div class="form-control">Room</div>
        <div class="form-control">Room Type</div>
        <div class="form-control">Num Days</div>
        
        <div class="form-control">Total</div>

    </div>

    <div class="d-flex rctable" *ngFor='let rec of roomList$ | async'>

        <div class="active form-control" (click)="roomView(rec.room.id)">{{ rec.bldg.name }}</div>
        <div class="form-control">{{ rec.roominfo.number}}</div>
        <div class="form-control">{{ rec.roominfo.rateAlias}}</div>
        <div class="form-control">{{ rec.days }}</div>
        <div class="form-control money">{{ rec.total_charges|currency}}</div>
    </div>

    <div class="d-flex subtotalcell">
        <div class="form-control"></div>
        <div class=" form-control align-self-end"><strong>Room Charge</strong></div>
        <div class=" form-control align-self-end dcell"><strong>{{roomTotal | currency}}</strong></div>

    </div>
</div>