.section-head{
    padding:5px;
    font-weight:bold;
    
}
.bgrid{
    padding:0;
    font-size:small;
    width:25%;
     button {
        width:100%;
        border:1px solid silver;
    }    

}


