<!--
        <nav mat-tab-nav-bar [ngStyle]="({'background-color':'skyblue'})">
            <a mat-tab-link 
               (click)="activeLink = 'actionitems'"
               [active]="activeLink == 'actionitems'" routerLink="actionitems"> Action Items </a>
            <a mat-tab-link 
               (click)="activeLink = 'actionmatrix'"
               [active]="activeLink == 'actionmatrix'" routerLink="actionmatrix"> Matrix </a>
          </nav>


<hr>
<app-action-items></app-action-items>
-->
<div class="card" style="height:85%; overflow-y:scroll">
    <div class="card-header">
        <h4>Real-Time State Matrix </h4>      
     </div>
    <div class="card-body">
        <mat-tab-group  mat-align-tabs="start">
            <mat-tab label="Matrix"><app-action-matrix></app-action-matrix></mat-tab>
            <mat-tab label="Work List"><app-action-items></app-action-items>
            </mat-tab>
          </mat-tab-group>
   
    </div>
    <div class="card-footer"></div>
</div>
