

.roomcell div {
    margin-left:4px;
}

.section {
    border-top : 1px solid green;
    border-bottom: 1px solid green;
    font-family:Nova;
    font-size: 12pt;
    text-align:center;
    background-color:cornsilk
}

.accClass {
    background-color:red;
    font-size:9pt;
    padding:0;
    margin:0;
    
}

.rate-hint {
    
font-size:10pt;
width:100%;
text-align:center;
}

.ratecell {
    padding:.5em;
    border:1px solid grey;

}