<div class="section">Available Rooms</div>


<div *ngFor="let dl of dispList" >
    <h5 class="{{dl.bldg.name}}" style="padding:.5em">{{dl.bldg.name}}</h5>
    <div *ngFor="let r of dl.rates">
        <div *ngIf="r.rooms.length" class="d-flex ratecell">
            <div style="width:25%;padding:.5em;font-weight:bold;font-size:small" title="{{r.rate | json}}"  > {{ r.rate.alias}} </div>
            <div style="width:75%">
                <div class="d-flex flex-wrap">
                    <div *ngFor="let x of r.rooms">
                        <button style="padding:0" mat-button (click)='assignRoom(x)'>{{ x.number }} </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
