<div class="section mt-2">Available Rooms</div>


<select class="form-select">
    <option value="">Select the Season</option>
    <option *ngFor="let i of seasonList" [ngValue]="i.name">{{i.name}} </option>
</select>


<tabset>
    <tab *ngFor="let dl of dispList" heading={{dl.bldg.name}}>
        
       
            <div *ngFor="let r of dl.rates" class="d-flex ratecell">
                
                <div style="width:30%" title="{{r.rate | json}}">{{ r.rate.alias}} </div>
                <div  style="width:70%">

                    <div class="d-flex flex-wrap">
                        <div *ngFor="let x of r.rooms">
                            <button style="padding:0" mat-button (click)='assignRoom(x)'>{{ x.number }} </button>
                        </div>
                    </div>


                </div>

            </div>
    </tab>
</tabset>