<section>    
<div class="section-heading">
        <app-charge-pmt-edit [currRsvn]='currRsvn' [currPayment]="currPayment" (currPaymentChange)= 'refreshPmt()'></app-charge-pmt-edit>
        
    </div>
     
    <div class="section-body">

        <div class="d-flex headingrow">
            <div class="form-control">Date</div>
            <div class="form-control">Item</div>
            <div class="form-control">Description</div>
            <div class="form-control">Amount</div>

        </div>


        <div class="d-flex datarow " *ngFor='let pmt of paymentList'>
            <div class="form-control">{{pmt.date }}</div>
            <div class="form-control" (click)="selectPayment(pmt)" data-bs-toggle="modal"
                data-bs-target="#paymentModal">{{ pmt.item }}</div>
            <div class="form-control" (click)="selectPayment(pmt)" data-bs-toggle="modal"
                data-bs-target="#paymentModal">{{ pmt.descr }}</div>
            <div class="form-control dcell">{{ pmt.amount | currency }}</div>
        </div>

        <div class="d-flex subtotalcell">
            <div class="form-control"></div>
            <div class="form-control"><strong>Total Payments</strong></div>
            <div class="form-control dcell"><strong>{{ payTotal  | currency}}</strong></div>

        </div>


    </div>
</section>
