
.headingrow  div{
    font-weight:bold;
    text-align: center;

}

.datarow div {
    font-size:1em;
    padding:2px;
}
.uppercell {
    text-align:center;
}

.active {
    cursor:pointer;
    font-weight:bold;
    color:royalBlue;
}

.charge-block  {
    padding:1em;
    margin-bottom:1em;
}
.dcell {
    text-align:right; 
    padding-right:40px;
}
.totalcell {
    border-top:2px solid black;
}

.subtotalcell {
    border-top:1px solid rgb(58, 58, 58);
    border-bottom:1px solid rgb(58, 58, 58);
}
