<section>
    <h3 class="section-heading">Room Charges</h3>
    <div class="section-body">

        <div class="row headingrow">
            <div class="col">Room Number</div>
            <div class="col">Season</div>
            <div class="col">Daily Rate</div>
            <div class="col">Nights</div>
            <div class="col">Total</div>
        </div>
        <div *ngFor="let room of fullRoomList" class="row datarow">
            <app-charge-line [roomall]='room' (roomallChange)='newRoomall($event)'>
            </app-charge-line>
        </div>
        <div class="d-flex subtotalcell">
            <div class=" col-7"></div>
            <div class=" form-control col align-self-end"><strong>Room Charge</strong></div>
            <div class=" form-control col align-self-end dcell"><strong>{{roomTotal | currency}}</strong></div>
        </div>

    </div>
</section>


<section>
    <div class="section-heading">
        <h5>Charges</h5>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Charge
        </button>


    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Misc Charges</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-control">
                        <form novalidate [formGroup]="chargeEditForm">
                            <div>
                                <div class="d-flex">
                                    <label class="uppercell form-control">Date</label>
                                    <input class="form-control" placeholder="Date" type="date" formControlName='date'>
                                </div>
                                <div class="d-flex">
                                    <label class="uppercell form-control">Item</label>

                                    <select class="form-select " formControlName='item'>
                                        <option value=""></option>
                                        <option *ngFor="let i of chgtypeList" [ngValue]="i.display">{{i.value}} </option>
                                    </select>                                
                                </div>
                                <div class="d-flex">
                                    <label class="uppercell form-control">Description</label>
                                    <input autofocus class="form-control" placeholder="Description" type="text"
                                        formControlName='descr'>
                                </div>
                                <div class="d-flex">
                                    <label class="uppercell form-control">Count</label>
                                    <input class="form-control" placeholder="Count" type="number"
                                        formControlName='count'>
                                </div>
                                <div class="d-flex">
                                    <label class="uppercell form-control">Unit Cost</label>
                                    <input class="form-control" placeholder="Unit" type="float" formControlName='unit'>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" [disabled]="!(chargeEditForm.valid&& currRsvn && currRsvn.id)"
                        (click)='updateCharge(chargeEditForm.value)'>
                        <span class="material-icons">save</span></button>
                    <button class="btn" [disabled]="!(currCharge && currCharge.id)"
                        (click)='deleteCharge(chargeEditForm.value)'>
                        <span class="material-icons"> delete </span>
                    </button>
                    <button class="btn" [disabled]="!(currCharge && currCharge.id)" (click)='newCharge()'>
                        <span class="material-icons"> note_add </span>
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <span class="material-icons"> close </span>
                    </button>
                </div>
            </div>
        </div>
    </div>





    <div class="section-body">
        <div class="headingrow d-flex" > 
            <div class="form-control">Date</div>
            <div class="form-control">Item</div>
            <div class="form-control">Description</div>
            <div class="form-control">Count</div>
            <div class="form-control">Unit Price</div>
            <div class="form-control">Amount</div>

        </div>

        <div class="d-flex" *ngFor='let chg of chargeList'>
            <div class="form-control">{{chg.date }}</div>
            <div class="active form-control" (click)="selectCharge(chg)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">{{ chg.item }}</div>
            <div class="active form-control" (click)="selectCharge(chg)">{{ chg.descr }}</div>
            <div class="form-control" style="text-align:center">{{ chg.count }}</div>
            <div class="form-control dcell">{{ chg.unit }}</div>
            <div class="form-control dcell">{{ chg.amount | currency}}</div>
        </div>

        <div class="d-flex subtotalcell">
            <div class="form-control"></div>
            <div class="form-control"><strong>Misc Charges</strong></div>
            <div class="form-control dcell"><strong>{{ transTotal | currency}}</strong></div>

        </div>
    </div>

</section>