{% extends "base.html" %}
{% block body_main %}




<div class="card" style="margin:200px auto; border:none; width:400px">
 
    <div class='card-header' style="text-align: center;background-color:pink">
        <h5 class='card-title'>Error </h5>
    </div>

    <div class="card-body" style="background-color:snow">
        <div style="padding:2em">
            <h3>Please contact your Systems Administrator</h3>
            <p>The Token has expired or is invalid</p>

        </div>
    </div>

</div>

{% endblock %}