<div class="card">
    <div class="card-header">Bldg List
        <form novalidate [formGroup]="bldgEditForm">
            <input autofocus placeholder="Name" type="text" formControlName='name' class="form-control">
            <input placeholder="Abbreviation" type="text" formControlName='abbrev' class="form-control">

            <input placeholder="Location" type="text" formControlName='location' class="form-control">
            <input placeholder="Description" type="text" formControlName='descr' class="form-control">

            <div class="row">
                <button class="col form-control  btn-sm  btn-outline-primary" [disabled]="!(bldgEditForm.valid)"
                    (click)='updateBldg(bldgEditForm.value)'>
                    {{ currBldg.id ? 'Update' : 'Create' }} </button>

                <button [disabled]="!(currBldg && currBldg.id)" (click)='clearBldg()'
                    class="col form-control btn-sm btn-outline-primary">New Building</button>

                <button [disabled]="!(currBldg && currBldg.id)" class="col form-control   btn-sm  btn-outline-primary"
                    (click)='delBldg(bldgEditForm.value)'>
                    <mat-icon>delete</mat-icon>
                </button>

            </div>
        </form>
    </div>
    <div class="card-body">

        <div style="cursor:pointer" *ngFor="let b of bldgList">
            <div class="active" (click)="selectBldg(b)"><h4>{{b.name}}</h4></div>
            <div><strong>{{b.location}}</strong></div>
            <div> {{b.descr}}</div>
            <hr>

        </div>

    </div>

</div>
